@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box

::root
    font-size: 18px
body
    background-color: hsl(226, 43%, 10%)
    display: flex
    @media (min-width: 1440px)
        height: 100vh
        align-items: center
.main
    background-color: hsl(226, 43%, 10%)
    width: 70%
    margin-inline: auto
    font-family: 'Rubik'
    font-size: 18px
    z-index: 100
    display: grid
    padding: 20px 0
    gap: 30px
    grid-template-areas: "one""two""three""four""five""six""seven"
    @media (min-width: 1440px)
        grid-template-areas: "one two three four""one five six seven"
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-auto-rows: 250px 250px

    &__about
        width: 100%
        background-color: hsl(235, 46%, 20%)
        border-radius: 15px
        grid-area: one

    &__jeremy
        width: 100%
        display: flex
        align-items: center
        padding: 1.5rem
        background-color: hsl(240, 80%, 60%)
        border-radius: 15px
        @media (min-width: 1440px)
            flex-direction: column
            align-items: flex-start
            height: 70%

    &__img-wrapper
        width: 30%
        max-width: 200px
        margin-right: 2rem
        @media (min-width: 1440px)
            width: 50%
            max-width: 200px

    &__img
        width: 100%
        border-radius: 50%
        border: 3px solid white

    &__about-wrapper
        flex-grow: 1
        line-height: 2rem

    &__p
        font-weight: 500
        color: hsl(236, 100%, 87%)
        @media (min-width: 1440px)
            margin-top: 20px
            font-size: 1.5rem

        &--set-time
            font-weight: 400
            font-size: 1.2rem
            cursor: pointer
            &:hover
                color: #e9e9e9
            &.active
                color: white
    &__h2
        font-weight: 300
        color: hsl(236, 100%, 87%)
        @media (min-width: 1440px)
            line-height: 3rem
            font-size: 3rem

    &__set-time
        display: flex
        justify-content: space-evenly
        padding: 1.5rem 0
        @media (min-width: 1440px)
            height: 30%
            margin: -10px 0 0 30px
            flex-direction: column

.statistics
    width: 100%
    border-radius: 25px
    display: flex
    flex-direction: column
    &--work
        background-color: hsl(15, 100%, 70%)
        grid-area: two
    &--play
        background-color: hsl(195, 74%, 62%)
        grid-area: three
    &--study
        background-color: hsl(348, 100%, 68%)
        grid-area: four
    &--exercise
        background-color: hsl(145, 58%, 55%)
        grid-area: five
    &--social
        background-color: hsl(264, 64%, 52%)
        grid-area: six
    &--self-care
        background-color: hsl(43, 84%, 65%)
        grid-area: seven
    &__img
        height: 20%
        overflow: hidden
        text-align: right
        & img
            margin: -7px 20px 0 0

    &__stats
        width: 100%
        background-color: hsl(235, 46%, 20%)
        padding: 1.5rem
        border-radius: 15px
        flex-grow: 1
        display: flex
        align-items: center
        line-height: 2.5rem
        position: relative
        @media (min-width: 1440px)
            flex-direction: column
            align-items: flex-start
            line-height: 3.3rem

    &__1
        color: white
    &__p
        font-weight: 500
        font-size: 1.1rem
    &__h1
        font-weight: 300
        font-size: 2.3rem
        @media (min-width: 1440px)
            font-size: 3.3rem
    &__2
        flex-grow: 1
        text-align: right
        color: hsl(236, 100%, 87%)
    &__menu
        font-size: 2rem
        position: relative
        top: -10px
        @media (min-width: 1440px)
            position: absolute
            top: 15px
            right: 35px
        // background-color: #fff

    &__last-week
        font-size: 0.9rem
